/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-blue, 700, 300, 900);
$theme-accent: mat-palette($mat-light-blue);
$theme-warn: mat-palette($mat-deep-orange, A700);

$theme: mat-light-theme(
    $theme-primary,
    $theme-accent,
    $theme-warn
);

@include angular-material-theme($theme);

body {
  margin: 0;
}

.table {
  margin-bottom: 70px;
}
