mat-card {
  padding: 30px;
  height: 100%;
  width: 700px;
  margin: 30px auto 0;
}

.header-title, .header-title:hover {
  text-decoration: none;
  color: #FFF;
}

.header-buttons {
  position: absolute;
  margin-right: 10px;
  right: 0;
}
