<h3>Coins</h3>

<form [formGroup]="myForm">

  <mat-input-container class="form-group full-width">
    <input matInput formControlName="coinsID" placeholder="CoinsID" class="form-control">
  </mat-input-container>

  <mat-input-container class="form-group full-width">
    <input matInput formControlName="value" placeholder="Value" class="form-control">
  </mat-input-container>

  <mat-input-container class="form-group full-width">
    <input matInput formControlName="ownerID" placeholder="OwnerID" class="form-control">
  </mat-input-container>

  <mat-input-container class="form-group full-width">
    <input matInput formControlName="ownerEntity" placeholder="OwnerEntity" class="form-control">
  </mat-input-container>

  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="addAsset(myForm);">Add</button>
  </mat-card-actions>

</form>

<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="coinsID">
    <mat-header-cell *matHeaderCellDef> Coins ID</mat-header-cell>
    <mat-cell *matCellDef="let asset"> {{ asset.coinsID }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
    <mat-cell *matCellDef="let asset"> {{ asset.value }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ownerID">
    <mat-header-cell *matHeaderCellDef> Owner ID </mat-header-cell>
    <mat-cell *matCellDef="let asset"> {{ asset.ownerID }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ownerEntity">
    <mat-header-cell *matHeaderCellDef> Owner Entity </mat-header-cell>
    <mat-cell *matCellDef="let asset"> {{ asset.ownerEntity }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
[pageSize]="15">
</mat-paginator>
