<h3>Bank</h3>

<form [formGroup]="myForm">

  <mat-input-container class="form-group full-width">
    <input matInput formControlName="bankID" placeholder="BankID" class="form-control">
  </mat-input-container>

  <mat-input-container class="form-group full-width">
    <input matInput formControlName="name" placeholder="Bank Name" class="form-control">
  </mat-input-container>

  <mat-input-container class="form-group full-width">
    <input matInput formControlName="coinsValue" placeholder="CoinsValue" class="form-control">
  </mat-input-container>

  <mat-input-container class="form-group full-width">
    <input matInput formControlName="cashValue" placeholder="CashValue" class="form-control">
  </mat-input-container>

  <mat-input-container class="form-group full-width">
    <input matInput formControlName="cashCurrency" placeholder="Currency" class="form-control">
  </mat-input-container>

  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="addBank(myForm);">Add</button>
  </mat-card-actions>

</form>

<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="bankID">
    <mat-header-cell *matHeaderCellDef> Bank ID</mat-header-cell>
    <mat-cell *matCellDef="let participant"> {{ participant.bankID }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Bank Name </mat-header-cell>
    <mat-cell *matCellDef="let participant"> {{ participant.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="coinsValue">
    <mat-header-cell *matHeaderCellDef> Coins Balance </mat-header-cell>
    <mat-cell *matCellDef="let participant"> {{ participant.coinsValue }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cashValue">
    <mat-header-cell *matHeaderCellDef> Cash value </mat-header-cell>
    <mat-cell *matCellDef="let participant"> {{ participant.cashValue }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cashCurrency">
    <mat-header-cell *matHeaderCellDef> Currency </mat-header-cell>
    <mat-cell *matCellDef="let participant"> {{ participant.cashCurrency }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
[pageSize]="15">
</mat-paginator>
